// colors

$Primary-Linear-Gradient-f: hsl(236, 72%, 79%) ; 
$Primary-Linear-Gradient-s:  hsl(237, 63%, 64%); 
$Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
$Light-Grayish-Blue: hsl(234, 14%, 74%);
$Grayish-Blue: hsl(233, 13%, 49%);
$Dark-Grayish-Blue: hsl(232, 13%, 33%);

